{{- if and .Values.global.enabled .Values.operator.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: virt-operator
  namespace: {{ include "kubevirt.namespace" . }}
  labels:
    {{- include "kubevirt.operator.labels" . | nindent 4 }}
    prometheus.kubevirt.io: ""
spec:
  replicas: {{ .Values.operator.replicas }}
  selector:
    matchLabels:
      {{- include "kubevirt.operator.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      {{- with .Values.operator.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "kubevirt.operator.selectorLabels" . | nindent 8 }}
        prometheus.kubevirt.io: "true"
        np.kubevirt.io/allow-access-cluster-services: "true"
        name: virt-operator
    spec:
      affinity:
        {{- if .Values.operator.affinity }}
        {{- toYaml .Values.operator.affinity | nindent 8 }}
        {{- else }}
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: Exists
              weight: 10
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: kubevirt.io
                      operator: In
                      values:
                        - virt-operator
                topologyKey: kubernetes.io/hostname
              weight: 1
        {{- end }}
      nodeSelector:
        {{- if .Values.operator.nodeSelector }}
        {{- toYaml .Values.operator.nodeSelector | nindent 8 }}
        {{- else }}
        kubernetes.io/os: linux
        {{- end }}
      tolerations:
        {{- if .Values.operator.tolerations }}
        {{- toYaml .Values.operator.tolerations | nindent 8 }}
        {{- else }}
        - key: CriticalAddonsOnly
          operator: Exists
        - key: node-role.kubernetes.io/control-plane
          effect: NoSchedule
          operator: Exists
        - key: node-role.kubernetes.io/master
          effect: NoSchedule
          operator: Exists
        {{- end }}
      {{- if .Values.priorityClass.create }}
      priorityClassName: {{ include "kubevirt.priorityClassName" . }}
      {{- end }}
      serviceAccountName: {{ include "kubevirt.operator.serviceAccountName" . }}
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: virt-operator
          image: {{ include "kubevirt.operator.image" . }}
          imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
          command:
            - virt-operator
            - --port
            - "8443"
            - -v
            - "2"
          ports:
            - name: metrics
              protocol: TCP
              containerPort: 8443
            - name: webhooks
              protocol: TCP
              containerPort: 8444
          livenessProbe:
            httpGet:
              path: /metrics
              port: 8443
              scheme: HTTPS
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /metrics
              port: 8443
              scheme: HTTPS
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          resources:
            {{- if .Values.operator.resources }}
            {{- toYaml .Values.operator.resources | nindent 12 }}
            {{- else }}
            requests:
              cpu: 10m
              memory: 450Mi
            {{- end }}
          terminationMessagePolicy: FallbackToLogsOnError
          env:
            - name: VIRT_OPERATOR_IMAGE
              value: {{ include "kubevirt.operator.image" . }}
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['olm.targetNamespaces']
            - name: KUBEVIRT_VERSION
              value: {{ .Chart.AppVersion | quote }}
            {{- if .Values.kubevirt.image.registry }}
            - name: KUBEVIRT_REGISTRY
              value: {{ .Values.kubevirt.image.registry }}
            {{- end }}
            {{- if .Values.kubevirt.image.tag }}
            - name: KUBEVIRT_TAG
              value: {{ .Values.kubevirt.image.tag }}
            {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - mountPath: /etc/virt-operator/certificates
              name: kubevirt-operator-certs
              readOnly: true
            - mountPath: /profile-data
              name: profile-data
      volumes:
        - name: kubevirt-operator-certs
          secret:
            optional: true
            secretName: kubevirt-operator-certs
        - name: profile-data
          emptyDir: {}
      {{- with .Values.operator.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
